body {
	font-family: Arial, sans-serif;
	height: 100vh;
	margin: 0;
	background-color: #f0f0f0;
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 92%;
	padding: 2rem 0;
	box-sizing: border-box;
	flex-direction: column;
	gap: 1rem;
}

.color-picker {
	background-color: #fff;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	text-align: center;
	width: 23rem;
	height: 30rem;
}
.color-info {
	margin-top: 20px;
}

#generateRandomBtn {
	background: transparent;
	border: 1px solid #adadad;
	padding: 0.35rem 1rem;
	border-radius: 8px;
	color: #6a6a6a;
}

p {
	margin: 5px 0;
	font-size: 16px;
	display: flex;
	justify-content: space-between;
	color: #959595;
}

.selected-color {
	width: 100%;
	height: 25rem;
	background-color: #ff0000;
}

#colorInput {
	border: none;
	padding: 0;
	background-color: transparent;
	cursor: pointer;
}

::-webkit-scrollbar {
	height: 9px;
	width: 9px;
}

::-webkit-scrollbar-thumb {
	background: #5e5e5e;
	width: 9px;
}

::-webkit-scrollbar-track {
	background: transparent;
	width: 9px;
}

::-webkit-scrollbar-corner {
	background: transparent;
}

a {
	display: block;
	margin: 0.5rem;
	width: fit-content;
}
